ion-content {
    // -offset-bottom: auto !important;
    // --overflow: hidden;
    // overflow: auto;

    // &::-webkit-scrollbar {
    //     display: none;
    // }
}

.posts {
    background: $fb-white;
    margin-bottom: 10px;

    .post-details {
        margin-bottom: 10px;

        .name {
            font-weight: 700;
            font-size: 16px;
        }

        .time {
            color: $fb-grey;
            font-size: 11px;

            ion-icon {
                margin-right: 10px;
            }
        }
    }

    .description {
        margin-top: -20px;
        margin-bottom: -10px;
    }

    .post-image {
        img {
            max-height: 365px;
        }
    }

    .reacts-comments {
        font-size: 14px;
        color: $fb-grey;

        ion-icon {
            font-size: 16px;
        }
    }

    .react-comment-share {
        height: 40px;
        color: $fb-grey;
        font-weight: 600;

        ion-icon {
            --ionicon-stroke-width: 46px;
        }

        ion-col {
            margin-top: 4px;
        }

        .like {
            ion-icon {
                padding-left: 25%;
            }
        }

        .comment {
            ion-icon {
                padding-left: 8%;
            }
        }

        .share {
            ion-icon {
                padding-left: 22%;
            }
        }
    }
}