ion-content {
    --background: rgba(137, 143, 156, .5);
}

ion-item {
    ion-button {
        width: 50%;
        height: 36px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        --color: $fb-black;
        --border-radius: 90px !important;
        --background: rgba(137, 143, 156, .3);
        --background-activated: rgba(137, 143, 156, .1);

        ion-icon {
            --ionicon-stroke-width: 50px;
        }

        ion-label {
            margin-left: 2px;
        }
    }
}

.todays-pick-grid {
    background: $fb-white;

    .title-row {
        ion-label {
            color: $fb-black;
            font-weight: 700;
            font-size: 17px;
        }

        ion-text {
            margin-left: 2px;
        }

        .close-seeall-col {
            ion-icon {
                margin-left: -10px;
                margin-right: 10px;
            }
        }
    }

    .image-row {
        height: 200px;

        ion-col {
            height: 100%;

            img {
                height: 100%;
                width: 100%;
            }
        }

    }

    .price-row {
        ion-col {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            ion-label {
                font-size: 15px;
            }
        }
    }
}