ion-content {
    --background: #898F9C;
}

.create-status-grid {
    background: $fb-white;

    ion-avatar {
        height: 45px;
        width: 45px;
        --border-radius: 50%;
    }

    .whats-on-your-mind-button {
        font-size: 16px;
        opacity: .8;
        --color: #000000;
    }

    .button-row {
        ion-col {
            box-shadow: 0 2px rgba(137, 143, 156, .2) inset;
            height: 40px;
            margin: auto;
        }

        ion-button {
            font-size: 12px;
            font-weight: 700;
            margin: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            --color: #000000;
            --padding-start: 10px;

            ion-icon {
                margin-right: 4px;
            }
        }
    }
}