ion-content {
    --background: rgba(137, 143, 156, .7);
}

.create-status-grid {
    background: $fb-white;
    margin-bottom: 10px;

    .whats-on-your-mind-button {
        margin-top: -4px;
        font-size: 16px;
        opacity: .8;
        --color: #000000;
        --background-activated: rgba(0, 0, 0, .1) !important;
    }

    .button-row {
        ion-col {
            box-shadow: 0 2px rgba(137, 143, 156, .2) inset;
            height: 40px;
            margin: auto;
        }

        ion-button {
            font-size: 12px;
            font-weight: 700;
            margin: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            --color: #000000;
            --padding-start: 10px;

            ion-icon {
                margin-right: 4px;
            }
        }
    }
}

ion-avatar {
    height: 40px;
    width: 40px;
    --border-radius: 50%;
}

.audio-video-rooms {
    background: $fb-white;
    margin-bottom: 10px;

    .audio-video-rooms-title {
        margin-top: 8px;
        margin-bottom: 8px;

        ion-label {
            font-weight: 700;
        }
    }

    ion-button {
        width: 200px;
        font-weight: 700;
        height: 40px;
        --color: #4267B2;
        --border-radius: 6px;
        --background: rgba(56, 128, 255, .2);
        --background-activated: rgba(56, 128, 255, .1) !important;
    }

    ion-slide {
        width: 100px;
    }
}

.stories {
    background: $fb-white;
    margin-bottom: 10px;

    .create-story {
        height: 160px;
        width: 100px;
        margin-left: 10px;
        box-shadow: none;

        ion-card-content {
            background: rgba(137, 143, 156, .2);
            height: 60px;
            overflow: visible;

            ion-button {
                margin-top: -70px;
            }

            ion-label {
                border: 1px solid black;
                margin-top: -10px
            }
        }
    }
}